*{
    box-sizing: border-box;
}
body{
    background-color: deepskyblue;
}
h1{
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    text-decoration: underline yellow;

}
img{
    border: 10px solid #000;
}
p{
    color: #fff;
}