*{
    box-sizing: border-box;
}
body{
    background-color: deepskyblue;
}
h1{
    font-size: 50px;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: white;
    width: 100%;
    text-decoration: underline;
    text-decoration-color: yellow
}
img{
    border: 10px solid #000;
}
p{
    color: #fff;
}